body {
  background-color: black;
  background-image: url("../img/bak.jpg");
  margin: 30px;
  }

.grid-btns {
  margin: 8% 14%;
  width: 72%;
}

#oppgaver {
 position: right;
}






#btn {
  padding: 25px;
  margin: 25px;
  color: blue;
  background-color: black;
  font-weight: bold;
  font-size: large;
  text-align: center;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
}

#btn:hover {background-color: #6024a1}

#btn:active {
  background-color: #6024a1;
  box-shadow: 0 5px rgb(138, 27, 131);
  transform: translateY(4px);
}

img {
  float: right;
  margin: 5% auto;
  margin-right: 14%;
  background-color: black;
  width: 50%;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
}

.inf {
  position: relative;
  float: left;
  padding: 5%;
  margin: 5% auto;
  margin-left: 14%;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
}
