@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap%27');

* {
  font-family: "Jim Nightshade", cursive;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
}

body {
  background-color: black;
  background-image: url("../img/bak.jpg");
  margin: 30px;
  }

.grid-btns {
  margin: 6% 13%;
  width: 73.5%;
  padding: auto;
  display: flex;
}

#h1 {
  color: lightblue;
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  border-radius: 15px;
  border: 2px solid white;
  width: 90%;
  padding: 15px;
  margin: 18px; 
}

#prosjekter {
  justify-content: left;
  align-items: left;
  width: 50%;
  margin-right: 10%;
}

#oppgaver {
justify-content: right;
align-items: right;
width: 62%;
margin-left: 10%;
}

#btn {
  padding: 25px;
  margin: 18px;
  color: orange;
  background-color: black;
  text-align: center;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
}

#btn:hover {background-color: #6024a1}

#btn:active {
  background-color: #6024a1;
  box-shadow: 0 5px rgb(138, 27, 131);
  transform: translateY(4px);
}

#bilde {
  float: right;
  margin: 5% auto;
  margin-right: 14%;
  background-color: black;
  width: 40%;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
}

.inf {
  position: relative;
  float: left;
  padding: 5%;
  padding-bottom: 10%;
  margin: 5% auto;
  margin-left: 14%;
  width: 20%;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
}

