.topnav {
  position: relative;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0% 14%;
  border-radius: 15px;
  border: 2px solid white;
}

.topnav a {
  float: left;
  color: orange;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  text-align: center;
  padding: 30px 28px;
  text-decoration: none;
  font-size:25px;
}

.topnav a:hover {
  background-color: #6024a1;
  color: white;
}

.topnav a.active {
  background-color: #8e67b8;
  color: white;
}

