.topnav {
  position: relative;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0% 14%;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
}

.topnav a {
  float: left;
  color: white;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #6024a1;
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: blue;
  color: white;
}

